stages:
  - lint
  - test
  - build
  - publish

variables:
  NPM_TOKEN: $NPM_TOKEN

image: node:18

cache:
  paths:
    - node_modules/

before_script:
  - npm ci

lint:
  stage: lint
  script:
    - npm run lint

test:
  stage: test
  script:
    - npm test

build:
  stage: build
  script:
    - npm run build
  artifacts:
    paths:
      - dist/

publish:
  stage: publish
  script:
    - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > ~/.npmrc
    - npm publish --access public
  only:
    - main
  when: manual